<h2>Kdo jsem?</h2>

<p>Narodil jsem se v roce 1980 v Praze. Vystudoval jsem informační technologie a management. Od roku 1998 podnikám v oblasti registrace domén a webhostingu. Prostřednictvím společností KRAXNET s.r.o. a 1X s.r.o. podnikám v České republice i na Slovensku. V roce 2008 jsem byl zvolen členem kolegia sdružení CZ.NIC, správce národní domény cz. Od roku 2009 jsem předsedou správní rady sdružení registrátorů cz domén CZ.REG z.s.p.o.</p>

<p>Členem Svobodných jsem od února 2009. Na ustavujícím sněmu pražského sdružení jsem byl zvolen jeho místopředsedou a aktivně se podílím na jeho rozvoji. Byl jsem nominován jako dvojka na pražskou kandidátku pro volby do Poslanecké sněmovny Parlamentu ČR v roce 2010.</p>

<p>Mým největším koníčkem jsou počítače. Zabývám se programovacím jazykem Ruby, jsem předsedou Československého sdružení uživatelů programovacího jazyka Ruby. Organizuji pravidelná setkání členů a příznivců.</p>

<p>Jsem šťastně ženatý a mám ročního syna.</p>