<% @page_title="Kdo jsem?" %>

<p>Narodil jsem se v roce 1980 v Praze. Vystudoval jsem informační technologie a management. Od roku 1998 podnikám v oblasti registrace domén a webhostingu. Prostřednictvím společností KRAXNET s.r.o. a 1X s.r.o. podnikám v České republice i na Slovensku. V roce 2008 jsem byl zvolen členem kolegia sdružení CZ.NIC, správce národní domény cz. Od roku 2009 jsem předsedou správní rady sdružení registrátorů cz domén CZ.REG z.s.p.o.</p>

<p>Od února 2009 jsem členem Strany svobodných občanů. Na ustavujícím sněmu pražského sdružení jsem byl zvolen jeho místopředsedou a aktivně se podílím na jeho rozvoji. Za svobodné jsem v roce 2010 kandidoval do parlamentních voleb a následně i v komunálních volbách.</p>

<p>Mým největším koníčkem jsou počítače. Zabývám se programovacím jazykem Ruby, jsem předsedou Československého sdružení uživatelů programovacího jazyka Ruby. Organizuji pravidelná setkání členů a příznivců.</p>

<p>Jsem šťastně ženatý a mám dva syny.</p>

<fb:comments></fb:comments>