#content
  %h1 Ing. Jiří Kubíček - osobní stránka
  %h2 Práce ve statutárních a jiných orgánech
  %ul
    %li{:class=>"success"}
      %a{:href=>"http://www.kraxnet.cz"}
        %strong KRAXNET s.r.o.
      %em - jednatel společnosti
    %li{:class=>"success"}
      %strong 1X s.r.o.
      %em - konateľ spoločnosti
    %li{:class=>"success"}
      %a{:href=>"http://www.csrug.cz"}
        %strong Československé sdružení uživatelů programovacího jazyka Ruby, o.s.
      %em - předseda rady sdružení
    %li{:class=>"success"}
      %a{:href=>"http://www.nic.cz"}
        %strong CZ.NIC, z.s.p.o.
      %em - člen kolegia za komoru registrátorů

  %h2 Členství ve sdruženích
  %ul
    %li{:class=>"success"}
      %a{:href=>"http://www.csrug.cz"}
        %strong Československé sdružení uživatelů programovacího jazyka Ruby, o.s.
    %li{:class=>"success"}
      %a{:href=>"http://www.cns1919.cz"}
        %strong Česká numismatická společnost
    %li{:class=>"failed"}
      %a{:href=>"http://www.cstug.cz"}
        %strong Československé sdružení uživatelů TeXu
    %li{:class=>"failed"}
      %a{:href=>"http://www.mensa.cz"}
        %strong Mensa České republiky
    %li{:class=>"failed"}
      Einsteinova společnost

  %h2 Členství v politických stranách
  %ul
    %li{:class=>"success"}
      %a{:href=>"http://www.svobodni.cz"}
        %strong Strana svobodných občanů

  %h2 Rodina
  %ul
    %li{:class=>"success"}
      %strong
        %a{:href=>"http://svatba.kubicek.cz"} Svatba
    %li{:class=>"unknown"}
      %strong Dítě
  
  %h2 Navštěvované školy

  %h3 Základní škola
  %ul
    %li{:class=>"success"}
      %strong Základní škola
      %em Glowackého 555, Praha 8
      (1. - 4. třída)
    %li{:class=>"success"}
      %strong Základní škola s rozšířenou výukou matematiky a přírodovědných předmětů
      %em Na Šutce 555, Praha 8
      (5. a 6. třída)
    %li{:class=>"success"}
      %strong Soukromá základní škola s výukou v německém a českém jazyce
      %em Žernosecká, Praha 8
      (7. a 8. třída)

  %h3 Střední škola
  %ul
    %li{:class=>"success"}
      %strong Gymnázium Jana Palacha,
      Ortenovo nám, Praha 7 (1. &#8211; 3. ročník)
    %li{:class=>"success"}
      %strong Gymnázium Holešovice,
      Ortenovo nám, Praha 7 (4. ročník)

  %h3 Vysoká škola
  %ul
    %li{:class=>"failed"}
      %a{:href=>"http://www.fjfi.cvut.cz"}
        %strong Fakulta jaderná a fyzikálně inženýrská,
      ČVUT
    %li{:class=>"failed"}
      %a{:href=>"http://www.fernuni-hagen.de/"}
        %strong FernUniversität Hagen
    %li{:class=>"failed"}
      %a{:href=>"http://www.vse.cz"}
        %strong Vysoká škola ekonomická
    %li{:class=>"success"}
      %a{:href=>"http://www.bivs.cz"}
        %strong Bankovní institut vysoká škola,
      %em bakalářské studium,
      obor "Informační technologie" specializace "Auditor informačních systémů"
    %li{:class=>"success"}
      %a{:href=>"http://www.bivs.cz"}
        %strong Bankovní institut vysoká škola,
      %em magisterské studium,
      obor "Informační technologie a management"
    %li
      %a{:href=>"http://www.mff.cuni.cz"}
        %strong Matematicko-fyzikální fakulta, 
      Univerzita Karlova v Praze

#resources
  %img{:src=>"https://secure.gravatar.com/avatar/b73770f184cadf24b698c56fa5cfcb8b?s=150", :alt=>"Gravatar"}
  %h2 Sociální sítě
  %ul
    %li 
      %a{:href=>"irc://irc.gts.cz/kubicek,isnick"} IRC
    %li 
      %a{:href=>"http://cs-cz.facebook.com/people/Jiri-Kubicek/813449853"} Facebook
    %li 
      %a{:href=>"http://github.com/kubicek"} GitHub
    %li 
      %a{:href=>"http://www.flickr.com/kubicek"} Flickr

#footer
  Poslední aktualizace: 15.2.2008