!!! Strict
%html{html_attrs}
  %head
    %title Ing. Jiří Kubíček - osobní stránka
    %link{:rel=>"stylesheet", :href=>"/stylesheets/master.css", :type=>"text/css"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %link{:rel=>"openid.server", :href=>"http://www.myopenid.com/server"}
    %link{:rel=>"openid2.provider", :href=>"http://www.myopenid.com/server"}
  %body
    = yield
