<p><i><%=@post.perex_html%></i></p>
<p><%=@post.body_html%></p>

<div class="fb-like" data-href="http://www.kubicek.cz<%=@post.permalink%>" data-send="true" data-width="450" data-show-faces="true"></div>

<div class="fb-comments" data-href="http://www.kubicek.cz<%=@post.permalink%>" data-num-posts="2" data-width="470"></div>